/* Inicio */
.inicio {
  overflow: hidden;
  width: 100%;
  min-width: 800px;
  min-height: 1280px;
  position: relative;
}

.inicio .DRIVE-THRU {
  position: absolute;
  top: 185px;
  left: 70px;
  transform: rotate(-90deg);
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #f1c1c4;
  font-size: 128px;
  text-align: right;
  letter-spacing: -7.68px;
  line-height: 89.6px;
}

.inicio .text-wrapper {
  letter-spacing: -9.83px;
}

.inicio .span {
  font-family: "Afacad-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 135px;
  letter-spacing: -10.94px;
  line-height: 94.5px;
}

.inicio .div {
  position: absolute;
  top: 384px;
  left: 491px;
  transform: rotate(-90deg);
  font-family: "Kapakana-Regular", Helvetica;
  font-weight: 400;
  color: #214ea0;
  font-size: 45px;
  text-align: right;
  letter-spacing: 0;
  line-height: 31.5px;
  white-space: nowrap;
}

.inicio .rectangle {
  top: 486px;
  position: absolute;
  left: 936px;
  width: 259px;
  height: 132px;
  transform: rotate(-90deg);
}

.inicio .IM-a-MEMBER {
  position: absolute;
  top: 521px;
  left: 982px;
  width: 150px;
  height: 60px;
  transform: rotate(-90deg);
}

.inicio .or-join-the-club {
  position: absolute;
  top: 544px;
  left: 1041px;
  width: 132px;
  height: 18px;
  transform: rotate(-90deg);
}

.inicio .img {
  top: 181px;
  position: absolute;
  left: 936px;
  width: 259px;
  height: 132px;
  transform: rotate(-90deg);
}

.inicio .ORDER-NOW {
  position: absolute;
  top: 215px;
  left: 1002px;
  width: 130px;
  height: 61px;
  transform: rotate(-90deg);
}

.inicio .sin-ttulo {
  position: absolute;
  top: 287px;
  left: 186px;
  width: 42px;
  height: 220px;
  transform: rotate(-90deg);
  aspect-ratio: 0.19;
}

.inicio .asistente-virtual {
  position: absolute;
  top: 62px;
  left: 39px;
  width: 39px;
  height: 39px;
}

.inicio .vector {
  height: 83.33%;
  top: 0;
  left: -14.74%;
  position: absolute;
  width: 100.00%;
  transform: rotate(-90deg);
}

.inicio .vector-2 {
  height: 38.89%;
  top: 24.15%;
  left: 24.15%;
  position: absolute;
  width: 100.00%;
  transform: rotate(-90deg);
}

.inicio .virtual-assistant {
  position: absolute;
  top: 10px;
  left: 31px;
  width: 54px;
  transform: rotate(-90deg);
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #214ea0;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 10.5px;
}
