/* Categories*/
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@100;200;300;400;500;600;700;800;900&family=Kapakana&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background-color: #f6f3ed;
  margin: 0;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    width: 7vh;
    height: 7vh;
  }
}

.header-img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.slogan {
  width: 75%;
  font-family: "Afacad", Helvetica;
  font-weight: 400;
  color: #214ea0;
  font-size: 75px;
  letter-spacing: 0;
  line-height: 58.5px;
  transform: translateY(-50px);

}

.text-wrapper {
  font-weight: 700;
}

.span {
  font-family: "Afacad", Helvetica;
  font-weight: 400;
}

.categories-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: "Afacad", Helvetica;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: 75px;
  gap: 30px;
}

/*Rectangulos general*/
.rectangle {
  background-color: #ffffff;
  border: none;
  border-radius: 35px;
  width: 450px;
  height: 450px;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Afacad", Helvetica;
  font-size: 35px;
  font-weight: 400;
}

.rectangle:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(251, 251, 252, 0.7);
}

.rectangle:hover {
  transform: scale(1.05);
  filter: brightness(1.05);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.6);
}


/*logo*/
.logo-div {
  width: 90%;
  padding: 0%;
  justify-content: flex-start;
}

.logo {
  width: 150px;
  height: auto;
  transform: none;
  padding: 0%;
}


.button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.image {
  max-width: 350px;
}


.button:hover img {
  transform: scale(1.1);
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.3)) brightness(1.1);
}


@media (min-width: 1080px) and (orientation: landscape) {
  .rectangle {
    max-width: 350px;
    max-height: 350px;
  }

  .image {
    max-width: 250px;
  }
}