/* Drinks */
.drinks {
  background-color: #f6f3ed;
  overflow: hidden;
  width: 100%;
  min-width: 800px;
  min-height: 1280px;
  position: relative;
}

.drinks .rectangle {
  right: 43px;
  bottom: 516px;
  width: 248px;
  height: 1280px;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .element {
  position: absolute;
  top: 107px;
  left: 1047px;
  width: 108px;
  height: 31px;
  transform: rotate(-90deg);
}

.drinks .total {
  position: absolute;
  top: 112px;
  left: 1040px;
  width: 44px;
  height: 16px;
  transform: rotate(-90deg);
}

.drinks .img {
  top: 95px;
  left: 1106px;
  width: 160px;
  height: 51px;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .ORDER {
  position: absolute;
  top: 113px;
  left: 1152px;
  width: 70px;
  height: 16px;
  transform: rotate(-90deg);
}

.drinks .div {
  top: 520px;
  left: 338px;
  width: 203px;
  height: 248px;
  background-color: #ffffff;
  border-radius: 35px;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .rectangle-2 {
  top: 503px;
  left: 345px;
  width: 203px;
  height: 283px;
  background-color: #fffdf9;
  border-radius: 35px;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .rectangle-3 {
  top: 659px;
  left: 151px;
  width: 143px;
  height: 51px;
  background-color: #9b9b9b;
  border-radius: 25.5px;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .text-wrapper {
  position: absolute;
  top: 672px;
  left: 180px;
  transform: rotate(-90deg);
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.0px;
  white-space: nowrap;
}

.drinks .rectangle-4 {
  top: 500px;
  left: 152px;
  width: 140px;
  height: 51px;
  background-color: #f1c1c4;
  border-radius: 25.5px;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .text-wrapper-2 {
  position: absolute;
  top: 514px;
  left: 182px;
  transform: rotate(-90deg);
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.0px;
  white-space: nowrap;
}

.drinks .rectangle-5 {
  top: 342px;
  left: 152px;
  width: 142px;
  height: 51px;
  background-color: #9b9b9b;
  border-radius: 25.5px;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .text-wrapper-3 {
  position: absolute;
  top: 356px;
  left: 179px;
  transform: rotate(-90deg);
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.0px;
  white-space: nowrap;
}

.drinks .bacon-bagel {
  top: 556px;
  left: 337px;
  width: 122px;
  height: 148px;
  aspect-ratio: 0.82;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .my-order {
  position: absolute;
  top: 131px;
  left: 170px;
  transform: rotate(-90deg);
  font-family: "Afacad-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 38px;
  letter-spacing: 0;
  line-height: 33.1px;
}

.drinks .line {
  left: 242px;
  position: absolute;
  top: 118px;
  width: 200px;
  height: 1px;
  transform: rotate(-90deg);
  object-fit: cover;
}

.drinks .line-2 {
  left: 418px;
  position: absolute;
  top: 118px;
  width: 200px;
  height: 1px;
  transform: rotate(-90deg);
  object-fit: cover;
}

.drinks .line-3 {
  left: 594px;
  position: absolute;
  top: 118px;
  width: 200px;
  height: 1px;
  transform: rotate(-90deg);
  object-fit: cover;
}

.drinks .text-wrapper-4 {
  position: absolute;
  top: 644px;
  left: 442px;
  transform: rotate(-90deg);
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 20.9px;
  white-space: nowrap;
}

.drinks .text-wrapper-5 {
  top: 632px;
  left: 521px;
  font-family: "Afacad-SemiBold", Helvetica;
  font-weight: 600;
  color: #214ea0;
  font-size: 24px;
  line-height: 20.9px;
  position: absolute;
  transform: rotate(-90deg);
  letter-spacing: 0;
  white-space: nowrap;
}

.drinks .rectangle-6 {
  top: 290px;
  left: 338px;
  width: 203px;
  height: 248px;
  background-color: #ffffff;
  border-radius: 35px;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .rectangle-7 {
  top: 273px;
  left: 345px;
  width: 203px;
  height: 283px;
  background-color: #fffdf9;
  border-radius: 35px;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .text-wrapper-6 {
  position: absolute;
  top: 404px;
  left: 445px;
  transform: rotate(-90deg);
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.9px;
  white-space: nowrap;
}

.drinks .text-wrapper-7 {
  top: 404px;
  left: 521px;
  font-family: "Afacad-SemiBold", Helvetica;
  font-weight: 600;
  color: #214ea0;
  font-size: 24px;
  line-height: 20.9px;
  position: absolute;
  transform: rotate(-90deg);
  letter-spacing: 0;
  white-space: nowrap;
}

.drinks .rectangle-8 {
  top: 520px;
  left: 650px;
  width: 203px;
  height: 248px;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .rectangle-9 {
  top: 503px;
  left: 656px;
  width: 203px;
  height: 283px;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .morning-bagel {
  position: absolute;
  top: 551px;
  left: 612px;
  width: 175px;
  height: 175px;
  transform: rotate(-90deg);
  aspect-ratio: 1;
  object-fit: cover;
}

.drinks .text-wrapper-8 {
  position: absolute;
  top: 633px;
  left: 771px;
  transform: rotate(-90deg);
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.9px;
  white-space: nowrap;
}

.drinks .element-2 {
  top: 633px;
  left: 834px;
  position: absolute;
  width: 52px;
  height: 18px;
  transform: rotate(-90deg);
}

.drinks .rectangle-10 {
  top: 290px;
  left: 650px;
  width: 203px;
  height: 248px;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .rectangle-11 {
  top: 273px;
  left: 656px;
  width: 203px;
  height: 283px;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .bacon-bagel-2 {
  top: 332px;
  left: 622px;
  width: 164px;
  height: 164px;
  aspect-ratio: 1;
  object-fit: cover;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .matcha-frappuccino {
  position: absolute;
  top: 393px;
  left: 756px;
  transform: rotate(-90deg);
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.9px;
}

.drinks .element-3 {
  top: 405px;
  left: 836px;
  position: absolute;
  width: 52px;
  height: 18px;
  transform: rotate(-90deg);
}

.drinks .rectangle-12 {
  top: 514px;
  left: 960px;
  width: 203px;
  height: 248px;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .rectangle-13 {
  top: 497px;
  left: 967px;
  width: 203px;
  height: 283px;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .bacon-bagel-3 {
  top: 554px;
  left: 933px;
  width: 169px;
  height: 169px;
  aspect-ratio: 1;
  object-fit: cover;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .laika-bagel {
  position: absolute;
  top: 332px;
  left: 315px;
  width: 165px;
  height: 165px;
  transform: rotate(-90deg);
  aspect-ratio: 1;
  object-fit: cover;
}

.drinks .chai-frapuccinno {
  position: absolute;
  top: 616px;
  left: 1072px;
  width: 113px;
  height: 42px;
  transform: rotate(-90deg);
}

.drinks .element-4 {
  top: 633px;
  left: 1148px;
  position: absolute;
  width: 52px;
  height: 18px;
  transform: rotate(-90deg);
}

.drinks .rectangle-14 {
  top: 284px;
  left: 960px;
  width: 203px;
  height: 248px;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .rectangle-15 {
  top: 267px;
  left: 967px;
  width: 203px;
  height: 283px;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .bacon-bagel-4 {
  top: 327px;
  left: 936px;
  width: 163px;
  height: 163px;
  aspect-ratio: 1;
  object-fit: cover;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .oreo-frappuccino {
  position: absolute;
  top: 387px;
  left: 1070px;
  width: 113px;
  height: 41px;
  transform: rotate(-90deg);
}

.drinks .element-5 {
  top: 405px;
  left: 1146px;
  position: absolute;
  width: 52px;
  height: 18px;
  transform: rotate(-90deg);
}

.drinks .order {
  position: absolute;
  top: 81px;
  left: 359px;
  width: 142px;
  height: 78px;
}

.drinks .text-wrapper-9 {
  top: 33px;
  left: 82px;
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #827d7d;
  font-size: 15px;
  line-height: 13.1px;
  position: absolute;
  transform: rotate(-90deg);
  letter-spacing: 0;
  white-space: nowrap;
}

.drinks .bacon-bagel-5 {
  top: 0;
  left: 0;
  width: 78px;
  height: 78px;
  aspect-ratio: 1;
  object-fit: cover;
  position: absolute;
  transform: rotate(-90deg);
}

.drinks .text-wrapper-10 {
  position: absolute;
  top: 33px;
  left: 49px;
  transform: rotate(-90deg);
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 13.1px;
  white-space: nowrap;
}

.drinks .text-wrapper-11 {
  top: 32px;
  left: 128px;
  position: absolute;
  transform: rotate(-90deg);
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 13.1px;
  white-space: nowrap;
}

.drinks .minus-circle {
  position: absolute;
  top: 54px;
  left: 122px;
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
}

.drinks .vector {
  position: absolute;
  width: 83.33%;
  height: 83.33%;
  top: 8.33%;
  left: 8.33%;
}

.drinks .vector-2 {
  position: absolute;
  width: 33.33%;
  height: 0;
  top: 47.50%;
  left: 30.83%;
  object-fit: cover;
}

.drinks .plus-circle {
  position: absolute;
  top: 2px;
  left: 122px;
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
  aspect-ratio: 1;
}

.drinks .vector-3 {
  position: absolute;
  width: 0;
  height: 33.33%;
  top: 30.83%;
  left: 47.50%;
}

.drinks .laika-bagel-2 {
  position: absolute;
  top: 79px;
  left: 530px;
  width: 81px;
  height: 81px;
  transform: rotate(-90deg);
  aspect-ratio: 1;
  object-fit: cover;
}

.drinks .order-2 {
  position: absolute;
  top: 80px;
  left: 535px;
  width: 142px;
  height: 78px;
}

.drinks .text-wrapper-12 {
  position: absolute;
  top: 32px;
  left: 48px;
  transform: rotate(-90deg);
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 13.1px;
  white-space: nowrap;
}

.drinks .text-wrapper-13 {
  top: 113px;
  left: 794px;
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #827d7d;
  font-size: 15px;
  line-height: 13.1px;
  position: absolute;
  transform: rotate(-90deg);
  letter-spacing: 0;
  white-space: nowrap;
}

.drinks .text-wrapper-14 {
  position: absolute;
  top: 112px;
  left: 738px;
  transform: rotate(-90deg);
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 13.1px;
  white-space: nowrap;
}

.drinks .text-wrapper-15 {
  top: 112px;
  left: 840px;
  position: absolute;
  transform: rotate(-90deg);
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 13.1px;
  white-space: nowrap;
}

.drinks .minus-circle-2 {
  position: absolute;
  top: 134px;
  left: 834px;
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
}

.drinks .plus-circle-2 {
  position: absolute;
  top: 82px;
  left: 834px;
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
  aspect-ratio: 1;
}

.drinks .bacon-bagel-6 {
  position: absolute;
  top: 78px;
  left: 701px;
  width: 83px;
  height: 83px;
  transform: rotate(-90deg);
  aspect-ratio: 1;
  object-fit: cover;
}

.drinks .asistente-virtual {
  position: absolute;
  top: 286px;
  left: 39px;
  width: 39px;
  height: 39px;
}

.drinks .vector-4 {
  position: absolute;
  width: 100.00%;
  height: 83.33%;
  top: 0;
  left: -14.74%;
  transform: rotate(-90deg);
}

.drinks .vector-5 {
  position: absolute;
  width: 100.00%;
  height: 38.89%;
  top: 24.15%;
  left: 24.15%;
  transform: rotate(-90deg);
}

.drinks .virtual-assistant {
  position: absolute;
  top: 10px;
  left: 31px;
  width: 54px;
  transform: rotate(-90deg);
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #214ea0;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 10.5px;
}

.drinks .sin-ttulo {
  position: absolute;
  top: 632px;
  left: 62px;
  width: 117px;
  height: 131px;
  transform: rotate(-90deg);
  aspect-ratio: 0.89;
}

.drinks .corner-down-left {
  position: absolute;
  top: 740px;
  left: 21px;
  width: 42px;
  height: 42px;
  transform: rotate(-90deg);
  aspect-ratio: 1;
}

.drinks .vector-6 {
  position: absolute;
  width: 20.83%;
  height: 41.67%;
  top: 36.90%;
  left: 11.90%;
}

.drinks .vector-7 {
  position: absolute;
  width: 66.67%;
  height: 45.83%;
  top: 11.90%;
  left: 11.90%;
}