/* Bagels */
.bagels {
  background-color: #f6f3ed;
  overflow: hidden;
  width: 100%;
  min-width: 800px;
  min-height: 1280px;
  position: relative;
}

.bagels .rectangle {
  right: 43px;
  bottom: 516px;
  width: 248px;
  height: 1280px;
  position: absolute;
  transform: rotate(-90deg);
}

.bagels .element {
  position: absolute;
  top: 107px;
  left: 1047px;
  width: 108px;
  height: 31px;
  transform: rotate(-90deg);
}

.bagels .img {
  top: 95px;
  left: 1106px;
  width: 160px;
  height: 51px;
  position: absolute;
  transform: rotate(-90deg);
}

.bagels .ORDER {
  position: absolute;
  top: 113px;
  left: 1152px;
  width: 70px;
  height: 16px;
  transform: rotate(-90deg);
}

.bagels .div {
  top: 520px;
  left: 338px;
  width: 203px;
  height: 248px;
  background-color: #ffffff;
  border-radius: 35px;
  position: absolute;
  transform: rotate(-90deg);
}

.bagels .rectangle-2 {
  top: 503px;
  left: 345px;
  width: 203px;
  height: 283px;
  background-color: #fffdf9;
  border-radius: 35px;
  position: absolute;
  transform: rotate(-90deg);
}

.bagels .rectangle-3 {
  top: 659px;
  left: 151px;
  width: 143px;
  height: 51px;
  background-color: #f1c1c4;
  border-radius: 25.5px;
  position: absolute;
  transform: rotate(-90deg);
}

.bagels .text-wrapper {
  position: absolute;
  top: 672px;
  left: 180px;
  transform: rotate(-90deg);
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.0px;
  white-space: nowrap;
}

.bagels .rectangle-4 {
  top: 500px;
  left: 152px;
  width: 140px;
  height: 51px;
  background-color: #9b9b9b;
  border-radius: 25.5px;
  position: absolute;
  transform: rotate(-90deg);
}

.bagels .text-wrapper-2 {
  position: absolute;
  top: 514px;
  left: 182px;
  transform: rotate(-90deg);
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.0px;
  white-space: nowrap;
}

.bagels .rectangle-5 {
  top: 342px;
  left: 152px;
  width: 142px;
  height: 51px;
  background-color: #9b9b9b;
  border-radius: 25.5px;
  position: absolute;
  transform: rotate(-90deg);
}

.bagels .text-wrapper-3 {
  position: absolute;
  top: 356px;
  left: 179px;
  transform: rotate(-90deg);
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.0px;
  white-space: nowrap;
}

.bagels .bacon-bagel {
  top: 563px;
  left: 327px;
  width: 163px;
  height: 163px;
  position: absolute;
  transform: rotate(-90deg);
  aspect-ratio: 1;
  object-fit: cover;
}

.bagels .my-order {
  position: absolute;
  top: 131px;
  left: 170px;
  transform: rotate(-90deg);
  font-family: "Afacad-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 38px;
  letter-spacing: 0;
  line-height: 33.1px;
}

.bagels .line {
  left: 242px;
  position: absolute;
  top: 118px;
  width: 200px;
  height: 1px;
  transform: rotate(-90deg);
  object-fit: cover;
}

.bagels .line-2 {
  left: 418px;
  position: absolute;
  top: 118px;
  width: 200px;
  height: 1px;
  transform: rotate(-90deg);
  object-fit: cover;
}

.bagels .line-3 {
  left: 594px;
  position: absolute;
  top: 118px;
  width: 200px;
  height: 1px;
  transform: rotate(-90deg);
  object-fit: cover;
}

.bagels .text-wrapper-4 {
  position: absolute;
  top: 634px;
  left: 431px;
  transform: rotate(-90deg);
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 20.9px;
  white-space: nowrap;
}

.bagels .text-wrapper-5 {
  top: 634px;
  left: 521px;
  font-family: "Afacad-SemiBold", Helvetica;
  font-weight: 600;
  color: #214ea0;
  font-size: 24px;
  line-height: 20.9px;
  position: absolute;
  transform: rotate(-90deg);
  letter-spacing: 0;
  white-space: nowrap;
}

.bagels .rectangle-6 {
  top: 290px;
  left: 338px;
  width: 203px;
  height: 248px;
  background-color: #ffffff;
  border-radius: 35px;
  position: absolute;
  transform: rotate(-90deg);
}

.bagels .rectangle-7 {
  top: 273px;
  left: 345px;
  width: 203px;
  height: 283px;
  background-color: #fffdf9;
  border-radius: 35px;
  position: absolute;
  transform: rotate(-90deg);
}

.bagels .text-wrapper-6 {
  position: absolute;
  top: 404px;
  left: 427px;
  transform: rotate(-90deg);
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.9px;
  white-space: nowrap;
}

.bagels .text-wrapper-7 {
  top: 404px;
  left: 514px;
  font-family: "Afacad-SemiBold", Helvetica;
  font-weight: 600;
  color: #214ea0;
  font-size: 24px;
  line-height: 20.9px;
  position: absolute;
  transform: rotate(-90deg);
  letter-spacing: 0;
  white-space: nowrap;
}

.bagels .rectangle-8 {
  top: 520px;
  left: 650px;
  width: 203px;
  height: 248px;
  position: absolute;
  transform: rotate(-90deg);
}

.bagels .rectangle-9 {
  top: 503px;
  left: 656px;
  width: 203px;
  height: 283px;
  position: absolute;
  transform: rotate(-90deg);
}

.bagels .morning-bagel {
  position: absolute;
  top: 560px;
  left: 640px;
  width: 171px;
  height: 171px;
  transform: rotate(-90deg);
  aspect-ratio: 1;
  object-fit: cover;
}

.bagels .text-wrapper-8 {
  position: absolute;
  top: 628px;
  left: 732px;
  transform: rotate(-90deg);
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 20.9px;
  white-space: nowrap;
}

.bagels .element-2 {
  position: absolute;
  top: 635px;
  left: 835px;
  width: 52px;
  height: 18px;
  transform: rotate(-90deg);
}

.bagels .rectangle-10 {
  top: 290px;
  left: 650px;
  width: 203px;
  height: 248px;
  position: absolute;
  transform: rotate(-90deg);
}

.bagels .rectangle-11 {
  top: 273px;
  left: 656px;
  width: 203px;
  height: 283px;
  position: absolute;
  transform: rotate(-90deg);
}

.bagels .bacon-bagel-2 {
  top: 333px;
  left: 638px;
  width: 163px;
  height: 163px;
  position: absolute;
  transform: rotate(-90deg);
  aspect-ratio: 1;
  object-fit: cover;
}

.bagels .text-wrapper-9 {
  position: absolute;
  top: 404px;
  left: 750px;
  transform: rotate(-90deg);
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 20.9px;
  white-space: nowrap;
}

.bagels .element-3 {
  position: absolute;
  top: 405px;
  left: 835px;
  width: 52px;
  height: 18px;
  transform: rotate(-90deg);
}

.bagels .rectangle-12 {
  top: 514px;
  left: 960px;
  width: 203px;
  height: 248px;
  position: absolute;
  transform: rotate(-90deg);
}

.bagels .rectangle-13 {
  top: 497px;
  left: 967px;
  width: 203px;
  height: 283px;
  position: absolute;
  transform: rotate(-90deg);
}

.bagels .bacon-bagel-3 {
  top: 557px;
  left: 949px;
  width: 163px;
  height: 163px;
  position: absolute;
  transform: rotate(-90deg);
  aspect-ratio: 1;
  object-fit: cover;
}

.bagels .laika-bagel {
  position: absolute;
  top: 329px;
  left: 323px;
  width: 165px;
  height: 165px;
  transform: rotate(-90deg);
  aspect-ratio: 1;
  object-fit: cover;
}

.bagels .odi-bagel {
  position: absolute;
  top: 628px;
  left: 1072px;
  width: 92px;
  height: 21px;
  transform: rotate(-90deg);
}

.bagels .element-4 {
  position: absolute;
  top: 635px;
  left: 1146px;
  width: 52px;
  height: 18px;
  transform: rotate(-90deg);
}

.bagels .rectangle-14 {
  top: 284px;
  left: 960px;
  width: 203px;
  height: 248px;
  position: absolute;
  transform: rotate(-90deg);
}

.bagels .rectangle-15 {
  top: 267px;
  left: 967px;
  width: 203px;
  height: 283px;
  position: absolute;
  transform: rotate(-90deg);
}

.bagels .bacon-bagel-4 {
  top: 308px;
  left: 921px;
  width: 200px;
  height: 200px;
  position: absolute;
  transform: rotate(-90deg);
  aspect-ratio: 1;
  object-fit: cover;
}

.bagels .xolo-bagel {
  position: absolute;
  top: 399px;
  left: 1065px;
  width: 101px;
  height: 21px;
  transform: rotate(-90deg);
}

.bagels .element-5 {
  position: absolute;
  top: 399px;
  left: 1139px;
  width: 65px;
  height: 18px;
  transform: rotate(-90deg);
}

.bagels .order {
  position: absolute;
  top: 81px;
  left: 359px;
  width: 142px;
  height: 78px;
}

.bagels .text-wrapper-10 {
  top: 33px;
  left: 82px;
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #827d7d;
  font-size: 15px;
  line-height: 13.1px;
  position: absolute;
  transform: rotate(-90deg);
  letter-spacing: 0;
  white-space: nowrap;
}

.bagels .bacon-bagel-5 {
  top: 0;
  left: 0;
  width: 78px;
  height: 78px;
  position: absolute;
  transform: rotate(-90deg);
  aspect-ratio: 1;
  object-fit: cover;
}

.bagels .text-wrapper-11 {
  position: absolute;
  top: 33px;
  left: 49px;
  transform: rotate(-90deg);
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 13.1px;
  white-space: nowrap;
}

.bagels .text-wrapper-12 {
  position: absolute;
  top: 32px;
  left: 128px;
  transform: rotate(-90deg);
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 13.1px;
  white-space: nowrap;
}

.bagels .minus-circle {
  position: absolute;
  top: 54px;
  left: 122px;
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
}

.bagels .vector {
  position: absolute;
  width: 83.33%;
  height: 83.33%;
  top: 8.33%;
  left: 8.33%;
}

.bagels .vector-2 {
  position: absolute;
  width: 33.33%;
  height: 0;
  top: 47.50%;
  left: 30.83%;
  object-fit: cover;
}

.bagels .plus-circle {
  position: absolute;
  top: 2px;
  left: 122px;
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
  aspect-ratio: 1;
}

.bagels .vector-3 {
  position: absolute;
  width: 0;
  height: 33.33%;
  top: 30.83%;
  left: 47.50%;
}

.bagels .laika-bagel-2 {
  position: absolute;
  top: 79px;
  left: 530px;
  width: 81px;
  height: 81px;
  transform: rotate(-90deg);
  aspect-ratio: 1;
  object-fit: cover;
}

.bagels .order-2 {
  position: absolute;
  top: 80px;
  left: 535px;
  width: 142px;
  height: 78px;
}

.bagels .text-wrapper-13 {
  position: absolute;
  top: 32px;
  left: 48px;
  transform: rotate(-90deg);
  font-family: "Afacad-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 13.1px;
  white-space: nowrap;
}

.bagels .total {
  position: absolute;
  top: 112px;
  left: 1040px;
  width: 44px;
  height: 16px;
  transform: rotate(-90deg);
}

.bagels .asistente-virtual {
  position: absolute;
  top: 286px;
  left: 39px;
  width: 39px;
  height: 39px;
}

.bagels .vector-4 {
  position: absolute;
  width: 100.00%;
  height: 83.33%;
  top: 0;
  left: -14.74%;
  transform: rotate(-90deg);
}

.bagels .vector-5 {
  position: absolute;
  width: 100.00%;
  height: 38.89%;
  top: 24.15%;
  left: 24.15%;
  transform: rotate(-90deg);
}

.bagels .virtual-assistant {
  position: absolute;
  top: 10px;
  left: 31px;
  width: 54px;
  transform: rotate(-90deg);
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #214ea0;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 10.5px;
}

.bagels .sin-ttulo {
  position: absolute;
  top: 632px;
  left: 62px;
  width: 117px;
  height: 131px;
  transform: rotate(-90deg);
  aspect-ratio: 0.89;
}

.bagels .corner-down-left {
  position: absolute;
  top: 740px;
  left: 21px;
  width: 42px;
  height: 42px;
  transform: rotate(-90deg);
  aspect-ratio: 1;
}

.bagels .vector-6 {
  position: absolute;
  width: 20.83%;
  height: 41.67%;
  top: 36.90%;
  left: 11.90%;
}

.bagels .vector-7 {
  position: absolute;
  width: 66.67%;
  height: 45.83%;
  top: 11.90%;
  left: 11.90%;
}

